.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__left,
    &__right {
        display: flex;
        align-items: center;
        padding-top: 2.2em;
    }

    & .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1em;

        &__item {
            font-size: 24px;
            
            &:hover {
                color: var(--primary-green);
                transition: all ease-in-out 200ms;
            }
        }

        &__expect {

            a:hover {
                color: var(--primary-green);
                transition: all ease-in-out 200ms;
            }
        }

        &__logo {

            & img {
                position: relative;
                max-width: 200px;
                margin: 1em 1em  0em 1em;
                z-index: 20;
            }
        }

        &__line {
            width: 2px;
            height: 30px;
            background: var(--secondary-dark);
            margin: 0 1em;
        }

        &__icon {

            span {
                padding-right: 0.5em;
                padding-bottom: 1.1em;
            }

            svg {
                font-size: 1em;
                transition: all ease-in-out 200ms; 
            }

            &:hover svg {
                rotate: 90deg;
                transition: all ease-in-out 200ms;
            }
        }

        &__hover {
    
            &:hover .nav__active-active {
                visibility: visible;
                transition: all ease-in-out 200ms;
            }
        }

        &__active {
            
            &-active {
                display: flex;
                visibility: hidden;
                width: 100%;
                position: absolute;
                top: 140px;
                background: var(--primary-dark);
                border-top: var(--primary-green) 3px solid;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;

                &-item {
                    padding: 1em 0;

                    &:nth-child(1) {
                        padding-left: 1em;
                    }
                }
            }
        }
    }
}

//Active ClassName
.nav-active {
    color: var(--primary-green) !important;
}